@font-face {
    font-family: 'Myriad Pro';
    src: url('../assets/fonts/MYRIADPRO-REGULAR.OTF');
}

h1{
    display: none;
}

.frontPage{
    height: 100%;
}

.logoFrontPagePc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
    height: 25rem;
}

.logoFrontPagePhone{
    display: none;
}

.startButton {
    display: block;
    margin: 5.5rem auto;
    background-color: #92DCE5;
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

@media (max-width: 600px) {
    
    .logoFrontPagePhone {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 40%
    }
  
    .logoFrontPagePc{
        display: none;
    }

  }
  
  @media ((max-width: 1024px) and (min-width: 601px)) {
   
    .logoFrontPagePhone {
        display: none;
    }
  
    .logoFrontPagePc{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 40%    }
  }
  