@font-face {
  font-family: "Myriad";
  src: URL("../fonts/MYRIADPRO-REGULAR.OTF");
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  padding: 5rem 10rem;
}

.cardsContent {
  width: calc((100% - 25rem) / 5);
  height: 18rem;
  background-color: #1e1e1e;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.albumImage {
  width: 70%;
  border-radius: 0.5rem;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.albumTitle {
  font-family: "Myriad";
  font-size: 1.2rem;
  color: #92dce5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
}

.artistName {
  font-family: "Myriad";
  font-size: 1.2rem;
  color: #ffff;
}

@media (max-width: 600px) {
  .cardsContent {
    width: 100%;
    height: 19rem;
  }

  .cards{
    width: 32rem;
    
  }
}

@media (max-width: 1024px) {
  .cardsContent{
    width: 100%;
    height: 5rem;
    margin: 0 0;
    }

  .cards{
    width: 30rem;
    display: flex;
  }
}
