.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
    padding: 4rem;

}
.cardsContent {
    width: calc((100% - 12rem) / 4);
    
}
.cardsContent img {
    width: 100%;
    border-radius: 1rem;
}

@media (max-width: 600px) {
    .cardsContent {
        width: 100%;
        
    }
}