.input-wrapper{
    background-color: white;
    width: 20%;
    padding: 5px;
    border-radius: 20px;
    margin-left: 1500px;
  }
  
  input{
    background-color: transparent;
    border: 0px;
    height: 100%;
    margin-left: 20px;
    font-size: 1.2rem;
    outline: none;
    
  }
  
  .search-bar-container {
    padding-top: 5vh;
    margin-left: 5vh;
  }
  
  #search-icon{
    width: 50px;
    color:#0a0a0a
  }
  
  .imglog {
    width: 228px;
    height: 121px;
  }