@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MYRIADPRO-REGULAR.OTF') ('truetype');
}

.start-button{
    width: 561px;
    height: 80px;
    color: #F4D06F;
    font-family: 'Myriad Pro';
    border-radius: 10px;

}