/ @font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MYRIADPRO-REGULAR.OTF') ('truetype');
}

.poster_album{
    width: 408px;
    border-radius: 16px;
    margin-bottom: 40px;
}

.title_album{
    font-family:'Myriad Pro';
    font-weight: bolder;
    font-size: 40px;
    color: #92DCE5;
}

.artist_album{
    font-family:'Myriad Pro', Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: white;
} 